{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-body-style": ["error", "always"],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "prefer-template": "off",
    "max-len": "off",
  }
}