a:link {
  color: #66F;
}

a:visited {
  color: #66D;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h2 {
  margin: 10px 0 10px 7px;
}

h4 {
  margin: 10px 0 2px 0;
}

input {
  float: left;
  width: 100px;
  margin: 2px 2px 2px 2px;
}

label {
  float: left;
  margin-right: 2px;
  text-align: right;
  width: 80px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#side-bar {
  float: left;
  width: 260px;
  height: 100vh;
  background-color: #333;
  color: #eee;
}

#canvas {
  float: left;
}

#examples {

}
.input-container {
  float: left;
  margin-left: 7px;
  width: 250px;
}
