a:link {
  color: #66F;
}

a:visited {
  color: #66D;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h2 {
  margin: 10px 0 0 12px;
}

h4 {
  margin: 10px 0 2px 0;
}

button {
  float:left;
}

input {
  float: left;
  width: 100px;
  margin: 2px 2px 2px 2px;
  background-color: lightgray;
  border-color: lightgray;
}

input[type="radio"] {
  width: 1em;
  margin-top: 0.4em;
}

input[type="checkbox"] {
  width: 1em;
  margin: 0.4em 0.5em 0 0;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100px;
  height:20px;
  margin-left: 5px;
  margin-top: 0px;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 4px;
  top: 20px;
  background: #EEE;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 10px;
  background: #AAA;
  border-radius: 2px;
  margin-top: -8px;
}

input[type=range]:focus {
  outline: none;
}

label {
  float: left;
  margin: 3px 0.2em 0 0.2em;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#main {
  min-width:1300px;
}

#canvas {
  float: left;
}

#side-bar {
  float: left;
  width: 280px;
  height: 1000vh;
  background-color: #333;
  color: #eee;
}

.side-section {
  float: left;
  margin-top: 6px;
  margin-left: 12px;
  width: 250px;
}

.fl {
  float:left;
}

.active-indicator {
  float:left;
  width: 0.4em;
  color: #0F0;
  font-size: 24px;
}

.inactive-indicator {
  float:left;
  width: 0.4em;
  color: #A00;
  font-size: 24px;
}

.branch-container {
  float: left;
  width: 7em;
}

.instruction-container {
  float: left;
  width: 280px;
  margin-top: 14px;
}

.check-container {
  float: left;
  width: 17em;
  margin: 0.2em 0 0.4em 0;
}

.number-input {
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.unselected-instruction-container {
  float: left;
  width: 260px;
  margin-top: 14px;
  background-color: #333
}

.selected-instruction-container {
  float: left;
  width: 260px;
  margin-top: 14px;
  background-color: #666
}

.unselected-rule-container {
  float: left;
  background-color: #333
}

.selected-rule-container {
  float: left;
  background-color: #666
}

.rule-input {
  width: 1.5em;
  text-align: center;
}

.slider-label {
  margin-top: 2px;
  margin-left: 2px;
  text-align: right;
  width: 75px;
}

.transform-label {
  width: 1em;
}
